$submitColor: #004C76;
$apaFormColor: #D5D5D5;
$amaFormColor: #626262;
$hoverSubmitColor: #2EB4E6;
$fontColor: #747577;
$inputColor:#BED4DF ;
$inputFontColor:#FFFFFF;
$validationColor: #970046;
$infoBox: #AEC0CA;
$whiteColor:#FFFFFF;
$smallColor: #95989A;
$disabledColors: #585858;


//Dashboard
$dashTextColor: #4D7386;